* {
  padding: 0px;
  margin: 0px;
  border: 0;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
}

main {
    background-color: #EFF3F4    ;
    height: 20em;
    padding: 5em;
}

main > section {
    background-color: white;
    border-style: outset;
    width: 480px;
    margin: auto;
    height: 220px;

}

section section {
    background-color: #EAECEF;
    clear: right;
    display: inline-block;
    width: 100%;
}

img {
    float: right;
    padding: 2em;
}

h1 {
    width: 50%;
    float: left;
    padding: 1em;
}

main > section > p {
    width: 50%;
    float: left;
    padding: 1em;
}

a {
    width: 50%;
}

.phone {
    width: 30%
}
